*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: white;
}
.inner {
  display: flex;
  justify-content: space-around;
}
.header_area {
  padding: 10px;
}
.Nav_area h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
.styleBg {
  background: #ddd;
  padding: 8px 54px;
  border-radius: 10px;
  margin-bottom: 10px;
}
span {
  font-weight: bold;
}
h2 {
  margin: 19px 10px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  width: 40%;
  margin: 0 auto;
}
ul li p:first-child {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
